html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: {
        family: $main-font;
        style: normal;
        weight: normal;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

b {
    font-family: 'GothamProBold';
}

.accent-blue {
    color: $accent-blue;
    margin-left: -3px;
}

.accent-bold {
    display: block;
    font-family: 'GothamProBold';
}
