// Main font
$main-font: 'GothamProRegular';

// Weight
$weight-light: 300;
$weight-light-italic: 300;
$weight-medium: 500;
$weight-medium-italic: 500;
$weight-bold: 800;
$weight-black: bold;

// Colors
$main-blue: #281a95;
$main-white: #ffffff;
$main-gray: #6c6b7d;
$accent-bg-clr: #edf0fc;
$benefice-color: #424071;
$success: #00904e;
$fail: #a70730;
$border-color: rgb(213, 212, 247);
$border-color-accent: rgb(191, 133, 135);
$box-shadow: 0px 37px 95px 0px rgba(167, 167, 195, 0.62);
$box-shadow-btn: 0px 15px 81px 0px rgba(108, 45, 144, 0.004);
$accent-blue: #281a95;
$accent-violet: rgb(130, 38, 255);

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$pc: 1260px;

// Container
$mob-wrapper: 290px;
$tab-wrapper: 750px;
$pc-wrapper: 1230px;
$pc-wrapper-xl: 1680px;
