// Main font
$main-font: 'Gotham Pro', sans-serif;

// Line Height
$main-lh: 1 2;

// Weight
$weight-light: 300;
$weight-light-italic: 300;
$weight-medium: 500;
$weight-medium-italic: 500;
$weight-bold: 800;
$weight-black: bold;

// Colors
$main-blue: #281a95;
$main-white: #ffffff;

// Breakpoints
$mobile: 320px;
$tablet: 768px;
$pc: 1440px;

// Container
$mob-wrapper: 290px;
$tab-wrapper: 750px;
$pc-wrapper: 1330px;
$pc-wrapper-xl: 1680px;
