.container {
    width: $mob-wrapper;
    @include margin(null auto);

    @media screen and (min-width: $tablet) {
        width: $tab-wrapper;
        padding: 0;
    }

    @media screen and (min-width: $pc) {
        width: 1220px;
    }
}
