.container {
    width: $mob-wrapper;
    @include margin(null auto);
    outline: 2px solid tomato;

    @media screen and (min-width: $tablet) {
        width: $tab-wrapper;
        padding: 0;
    }

    @media screen and (min-width: $pc) {
        width: $pc-wrapper;
    }
}
