.about {
    background: {
        position: center top 254px;
        repeat: no-repeat;
        size: 320px 320px;
        image: url('../images/about/tab/bg-768-min.png');
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: {
            image: url('../images/about/tab/bg-768@2x-min.png');
        }
    }

    @media screen and (min-device-pixel-ratio: 3),
        screen and (-webkit-min-device-pixel-ratio: 3),
        screen and (-o-min-device-pixel-ratio: 3/1),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../images/about/tab/bg-768@3x-min.png');
    }

    // 768px
    @media screen and (min-width: $tablet) {
        background: {
            image: url('../images/about/pc/bg-1680-min.png');
            position: center;
            size: 768px;
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background: {
                image: url('../images/about/pc/bg-1680@2x-min.png');
            }
        }

        @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-min-device-pixel-ratio: 3/1),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background-image: url('../images/about/pc/bg-1680@3x-min.png');
        }
    }

    // 1140px
    @media screen and (min-width: $pc) {
        background: {
            image: url('../images/about/pc/bg-1680-min.png');
            size: 100%;
            position: center top 650px;
        }
    }
}

.about__box {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 38px;
    }

    @media screen and (min-width: $pc) {
        margin-bottom: 95px;
    }
}

.about__content {
    @media screen and (min-width: $tablet) {
        flex-basis: 50%;
        margin-right: 30px;
    }

    @media screen and (min-width: $pc) {
        margin-right: 80px;
    }
}

.about__content-img {
    width: 130px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
        width: 175px;
        margin-bottom: 44px;
    }

    @media screen and (min-width: $pc) {
        width: 280px;
        margin-bottom: 68px;
    }
}

.content__title {
    font-family: 'GothamProBold';
    @extend %reset;
    @include font-source-sans(19px, $main-blue, null, null);
    margin-bottom: 18px;

    @media screen and (min-width: $tablet) {
        font-size: 27px;
        margin-bottom: 26px;
    }

    @media screen and (min-width: $pc) {
        font-size: 44px;
        margin-bottom: 44px;
    }
}

.about__content-descr {
    @extend %reset;
    @include font-source-sans(15px, $benefice-color, null, null);

    @media screen and (min-width: $tablet) {
        font-size: 20px;
    }

    @media screen and (min-width: $pc) {
        font-size: 32px;
    }
}

.about__img {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
        width: 380px;
    }

    @media screen and (min-width: $pc) {
        width: 615px;
    }
}

.about__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        margin: -15px;
    }

    @media screen and (min-width: $pc) {
        margin: -30px;
    }
}

.about__item {
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: $main-white;
    box-shadow: $box-shadow;

    @media screen and (min-width: $tablet) {
        margin: 15px;
        flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: $pc) {
        margin: 30px;
        flex-basis: calc((100% - 4 * 30px) / 2);
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 15px;
        }
    }
}

.about__item-img {
    width: 100%;
}

.about__item-content {
    @include padding(30px 16px 26px 10px);

    @media screen and (min-width: $tablet) {
        @include padding(38px 20px 30px 12px);
    }

    @media screen and (min-width: $pc) {
        @include padding(62px 46px 40px 22px);
    }
}

.about__item-title {
    font-family: 'GothamProBlack';
    @extend %reset;
    @include font-source-sans(16px, $main-blue, null, null);
    margin-bottom: 18px;

    @media screen and (min-width: $tablet) {
        font-size: 20px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: $pc) {
        font-size: 32px;
        margin-bottom: 38px;
    }
}

.about__item-text {
    @extend %reset;

    @include font-source-sans(13px, $benefice-color, $weight-medium, null);

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }

    @media screen and (min-width: $pc) {
        font-size: 27px;
    }
}

.content__list {
    margin-top: 22px;

    @media screen and (min-width: $tablet) {
        margin-top: 28px;
    }

    @media screen and (min-width: $pc) {
        margin-top: 44px;
    }
}

.content__item {
}

.content__item + .content__item {
    margin-top: 22px;

    @media screen and (min-width: $pc) {
        margin-top: 36px;
    }
}

.about__item-subtitle {
    font-family: 'GothamProBold';
    @extend %reset;
    @include font-source-sans(11px, $benefice-color, null, null);
    margin-bottom: 5px;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        margin-bottom: 8px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
        margin-bottom: 12px;
    }
}

.about__item-descr {
    @extend %reset;
    @include font-source-sans(11px, $main-gray, $weight-medium, null);

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
    }
}

.about__accent-success {
    color: $success;
}

.about__accent-fail {
    color: $fail;
}
