.awards {
    padding-top: 30px;

    &__title {
        font-family: 'GothamProBlack';
        color: $main-blue;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 52px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        &-item {
            @include size(290px, 462px);
            background-color: $main-white;
            box-shadow: $box-shadow;
            border: 1px solid $border-color;
            border-radius: 5px;
        }

        &-item:not(:last-child) {
            margin-bottom: 26px;
        }

        &-block {
            @include size(100%, 100%);
            margin: 0 auto;
            padding-left: 16px;
            padding-right: 10px;
        }

        &-title {
            display: block;
            font-family: 'GothamProBlack';
            font-size: 21px;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        &-text {
            font-family: 'GothamProRegular';
            font-size: 14px;
            padding: 0;
            margin: 0;

            &-bold {
                display: block;
                font-family: 'GothamProBold';
                color: #22252e;
                margin-bottom: 24px;
            }
            &-blue {
                color: $main-blue;
                font-family: 'GothamProBlack';
            }
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        margin: 0 auto;
    }
}

@media screen and (min-width: $tablet) {
    .awards {
        padding-top: 40px;

        &__title {
            font-size: 32px;
            margin-bottom: 32px;
        }

        &__list {
            flex-direction: row;
            justify-content: space-between;

            &-item {
                @include size(226px, 358px);
                box-shadow: $box-shadow;
            }

            &-item:not(:last-child) {
                margin-bottom: 0;
            }

            &-title {
                font-size: 16px;
                margin-bottom: 18px;
            }

            &-text {
                font-size: 11px;

                &-bold {
                    margin-bottom: 16px;
                }
            }
        }

        &__img {
            height: 196px;
        }
    }
}

@media screen and (min-width: $pc) {
    .awards {
        padding-top: 74px;

        &__title {
            font-size: 60px;
            margin-bottom: 60px;
        }

        &__list {
            &-item {
                @include size(380px, 640px);
                box-shadow: $box-shadow;
            }

            &-title {
                font-size: 30px;
                margin-bottom: 36px;
            }

            &-text {
                font-size: 19px;

                &-bold {
                    margin-bottom: 32px;
                }
            }
        }

        &__img {
            height: 340px;
        }
    }
}
