.carrier {
    @include padding(null null 16px null);

    @media screen and (min-width: $tablet) {
        @include padding(null null 0 null);
    }
}

@media screen and (min-width: $pc) {
    @include padding(50px null 212px null);
}

.carrier__list {
    position: relative;
    counter-reset: carrier-counter;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        margin: -5px;
    }

    @media screen and (min-width: $pc) {
        margin: -15px;
        margin-top: 60px;
    }
}

.carrier__list::after {
    @media screen and (min-width: $tablet) {
        content: '';
        @include position(absolute, null null -90px 50%);
        transform: translateX(-50%);
        @include size(748px, 408px);
        z-index: 1;

        background-image: url('../images/carrier/pc/bg-1680-min.svg');
        background-repeat: no-repeat;
    }
}

.carrier__item {
    position: relative;
    counter-increment: carrier-counter;
    z-index: 2;
    @include padding(26px 12px);
    background-color: #edf1fc;
    border: 1px solid rgb(213, 212, 247);
    border-radius: 5px;
    box-shadow: $box-shadow;
    overflow: hidden;
    height: 392px;

    @media screen and (min-width: $tablet) {
        flex-direction: column;
        margin: 5px;
        flex-basis: calc((100% - 6 * 5px) / 3);
        height: 360px;
    }

    @media screen and (min-width: $pc) {
        flex-basis: calc((100% - 6 * 15px) / 3);
        margin: 15px;
        height: 568px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &::after {
        position: absolute;
        right: -80px;
        bottom: 0;
        content: counter(carrier-counter);
        font-family: 'GothamProBold';
        @include font-source-sans(270px, #d6e0fc, null, null);
        z-index: -1;

        @media screen and (min-width: $tablet) {
            font-size: 210px;
            right: 0;
        }

        @media screen and (min-width: $pc) {
            font-size: 330px;
        }
    }

    &:first-of-type::after {
        @media screen and (max-width: 767px) {
            right: -25px;
        }
    }
}

.carrier__item-title {
    font-family: 'GothamProBold';
    @extend %reset;
    @include font-source-sans(24px, $accent-blue, null, null);
    margin-bottom: 26px;

    @media screen and (min-width: $tablet) {
        font-size: 22px;
        margin-bottom: 22px;
    }

    @media screen and (min-width: $pc) {
        font-size: 32px;
        margin-bottom: 32px;
    }
}

.carrier__item-text {
    font-family: 'GothamProBold';
    @extend %reset;
    @include font-source-sans(18px, $benefice-color, null, null);
    text-transform: uppercase;
    margin-bottom: 18px;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
        margin-bottom: 32px;
    }
}

.carrier__item-descr {
    @extend %reset;
    @include font-source-sans(14px, #4e4d79, $weight-medium, null);

    @media screen and (min-width: $tablet) {
        font-size: 13px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
    }
}

.carrier__item-quote {
    font-family: 'GothamProItalic';
    @extend %reset;
    @include font-source-sans(14px, #878787, null, null);
    margin-top: 22px;
    text-align: right;

    @media screen and (min-width: $tablet) {
        @include position(absolute, null 30px 12px null);
    }

    @media screen and (min-width: $pc) {
        font-size: 18px;
        margin-top: 50px;
    }
}
