.footer {
    width: 100%;
    background-color: $main-white;
    padding-top: 36px;
    padding-bottom: 284px;
    background: {
        repeat: no-repeat;
        position: bottom left;
        size: 320px;
    }

    background: {
        image: url('../images/footer/mob/bg-320.png');
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: {
            image: url('../images/footer/mob/bg-320@2x.png');
        }
    }

    @media screen and (min-device-pixel-ratio: 3),
        screen and (-webkit-min-device-pixel-ratio: 3),
        screen and (-o-min-device-pixel-ratio: 3/1),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url('../images/footer/mob/bg-320@3x.png');
    }

    // 768px
    @media screen and (min-width: $tablet) {
        padding-top: 110px;
        padding-bottom: 532px;
        background: {
            image: url('../images/footer/tab/bg-768.png');
            size: 768px;
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background: {
                image: url('../images/footer/tab/bg-768@2x.png');
            }
        }

        @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-min-device-pixel-ratio: 3/1),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background: {
                image: url('../images/footer/tab/bg-768@3x.png');
            }
        }
    }

    // 1440px
    @media screen and (min-width: $pc) {
        padding-bottom: 704px;
        background: {
            image: url('../images/footer/pc/bg-1680.png');
            size: 100%;
        }

        @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background: {
                image: url('../images/footer/pc/bg-1680@2x.png');
            }
        }

        @media screen and (min-device-pixel-ratio: 3),
            screen and (-webkit-min-device-pixel-ratio: 3),
            screen and (-o-min-device-pixel-ratio: 3/1),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            background: {
                image: url('../images/footer/pc/bg-1680@3x.png');
            }
        }
    }
}
