.flex {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $main-white;
    filter: $box-shadow;
    padding: 30px 10px;

    @media screen and (min-width: $tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: hidden;
    }
}

.section__title {
    font-family: 'GothamProBlack';
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 22px;
    order: 1;

    @media screen and (min-width: $tablet) {
        font-size: 33px;
        margin-bottom: 78px;
    }

    @media screen and (min-width: $pc) {
        font-size: 60px;
    }
}

.program {
    padding-top: 40px;

    @media screen and (min-width: $tablet) {
        padding-top: 60px;
        margin-top: -20px;
    }
    @media screen and (min-width: $pc) {
        padding-top: 80px;
    }
}

.program__content {
    margin-bottom: 32px;

    order: 3;
    @media screen and (min-width: $tablet) {
        width: 294px;
        order: 2;
    }

    @media screen and (min-width: $pc) {
        width: 490px;
    }
}

.program__list {
}

.program__item {
    &:not(:last-child) {
        margin-bottom: 28px;
    }
}

.program__item-title {
    @extend %reset;
    font-family: 'GothamProRegular';
    font-size: 18px;
    color: $benefice-color;
    margin-bottom: 14px;

    @media screen and (min-width: $tablet) {
        font-size: 17px;
    }

    @media screen and (min-width: $pc) {
        font-size: 28px;
    }
}

.program__item-title > span {
    font-family: 'GothamProBold';
}

.program__item-list {
}

.program__item-item {
    font-size: 14px;

    @media screen and (min-width: $tablet) {
        font-size: 13px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
    }
}

.program__info {
    position: relative;
    padding-bottom: 28px;
    margin-bottom: 28px;
    order: 2;
    z-index: 2;

    @media screen and (max-width: 767px) {
        background-image: url(../images/program/mob/bg-320.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    @media screen and (min-width: $tablet) {
        width: 370px;
        order: 3;
        margin-bottom: 42px;
    }

    @media screen and (min-width: 1440px) {
        width: 620px;
    }
}

.program__info::before {
    @media screen and (min-width: $tablet) {
        @include pseudo;
        @include size(395px, 620px);
        @include position(absolute, null -30px -73px null);
        background-image: url(../images/program/tab/bg-768-min.png);
        z-index: -1;
    }

    @media screen and (min-width: $pc) {
        @include size(680px, 1138px);
        @include position(absolute, -70px -70px null null);
        background-image: url(../images/program/pc/bg-1680-min.png);
    }
}

.program__img {
    margin-bottom: 24px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 46px;
    }
}

.program__descr {
    @extend %reset;
    font-family: 'GothamProLight';
    font-size: 10px;
    color: $main-white;
    padding: 0 14px;
    margin-bottom: 14px;

    @media screen and (min-width: $tablet) {
        width: 340px;
        margin-left: auto;
        font-size: 13px;
    }

    @media screen and (min-width: $pc) {
        font-size: 22px;
        width: 540px;
    }
}

.program .btn__box-accent {
    order: 4;

    @media screen and (min-width: $tablet) {
        @include position(absolute, null 0 45px null);
        z-index: 2;
        width: 374px;
    }

    @media screen and (min-width: $pc) {
        width: 608px;
    }
}

.program .btn-accent {
    @media screen and (min-width: $tablet) {
        font-size: 16px;
        @include size(210px, 60px);
    }

    @media screen and (min-width: $pc) {
        font-size: 24px;
        @include size(344px, 92px);
    }
}

.program .btn__box-text-accent {
    @media screen and (min-width: $tablet) {
        width: 150px;
        font-size: 12px;
        right: 0;
    }

    @media screen and (min-width: $pc) {
        width: 220px;
        font-size: 18px;
        right: 10px;
    }
}
