.sphere {
    @include padding(36px null 50px null);

    @media screen and (min-width: $tablet) {
        @include padding(78px null 98px null);
    }

    @media screen and (min-width: $pc) {
        @include padding(104px null 120px null);
    }
}

.sphere__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        max-width: 570px;
        margin-bottom: 52px;
    }

    @media screen and (min-width: $pc) {
        max-width: 875px;
    }
}

.sphere__list {
    @include size(100%, null);
    border-radius: 5px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-bottom: 38px;
    }

    @media screen and (min-width: $pc) {
        margin-bottom: 50px;
    }
}

.sphere__item {
    @extend %center;
    @include padding(12px 16px);
    background-color: $accent-blue;

    &:first-of-type {
        @media screen and (max-width: 767px) {
            @include border-top-radius(4px);
        }

        @media screen and (min-width: $tablet) {
            @include border-left-radius(4px);
        }
    }

    &:nth-of-type(2n) {
        background-color: $accent-violet;
    }

    &:nth-of-type(3n) {
        @media screen and (max-width: 767px) {
            @include border-bottom-radius(4px);
        }

        @media screen and (min-width: $tablet) {
            @include border-right-radius(4px);
        }
    }

    @media screen and (min-width: $tablet) {
        flex-basis: 33.3333%;
    }
}

.sphere__list-img {
    @include size(40px, null);
    margin-right: 10px;

    @media screen and (min-width: $tablet) {
        @include size(50px, null);
        margin-right: 18px;
    }

    @media screen and (min-width: $pc) {
        @include size(75px, null);
        margin-right: 28px;
    }
}

.sphere__list-descr {
    font-family: 'GothamProBold';
    @extend %reset;
    @include font-source-sans(14px, $main-white, $weight-black, null);
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $pc) {
        font-size: 27px;
    }
}

.sphere .btn__box-accent {
    @include size(290px, 44px);
    border-radius: 22px;

    @media screen and (min-width: $tablet) {
        @include size(504px, 74px);
        border-radius: 37px;
        margin-left: auto;
        margin-right: 40px;
    }

    @media screen and (min-width: $pc) {
        @include size(768px, 112px);
        border-radius: 56px;
    }
}

.sphere .btn-accent {
    @include size(160px, 42px);

    @media screen and (min-width: $tablet) {
        @include size(274px, 74px);
        border-radius: 37px;
    }

    @media screen and (min-width: $pc) {
        @include size(414px, 112px);
        border-radius: 56px;
    }
}

.sphere .btn__box-text-accent {
    font-size: 9px;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }

    @media screen and (min-width: $pc) {
        font-size: 24px;
        width: 275px;
    }
}
