.wrapper {
    position: relative;
    @include margin(null auto);
    border: 2px solid tomato;
    max-width: $pc-wrapper-xl;

    // @media screen and (min-width: $tablet) {
    //     width: $tablet;
    // }

    // @media screen and (min-width: $pc) {
    //     max-width: $pc-wrapper-xl;
    //     width: 100%;
    // }
}
